datasets/__pycache__/
correspond/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.bak
*.old
*.tmp
*.out
*.DS_Store
*.egg-info
*.egg
*.env
*.venv
*.log
*.vscode
*.vscode/
*.

afm_kiss_icp/__pycache__/AFMOdometryPipeline.cpython-310.pyc
